body{
    font-family: roboto;
    margin-top: -33px;
    margin-left: -33px;
    margin-right: -33px;
}
.main{
    background-color: #1f2937;
    color: #f9faf8;
}
.main .container-blue{
    max-width: 900px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 3px;
}
h3{
    font-size: 30px;
    color: #f9faf8;
    justify-content: center;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -9px;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.container-blue-img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-blue{
    padding: 12px 10px 50px 10px;
}
.container-white{
    max-width: 900px;
    margin: auto;
    color: black;
    background-color: white;
    padding: 30px;
    margin-bottom: 5%;
}
.container-white #cats{
    display: flex;
    text-align: center;
}
h2{
    text-align: center;
}
.main3{
    background-color: #e5e7eb;
}
.container-gray{
    max-width: 900px;
    margin: auto;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    text-align: justify;
}
.container-gray p{
    padding: 10% 8%;
}
#call{
    background-color: #3882f6;
    color: white;
    text-align: left;
    padding: 10px 10%;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#call h2{
    text-align: left;
    margin-bottom: -1px;
}
#lastbtn{
    border: 1px solid white;
    font-weight: bold;
}
.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 2%;
    margin-bottom: -10px;
}